doctype 5
html
  head
    title Taskrss &mdash; Google tasks to RSS bridge
    link(href = "/taskrss.css", rel = "stylesheet", type = "text/css")
  body
    h1 Taskrss
    h2 Google tasks to RSS bridge
