doctype 5
html
  head
    title Taskrss &mdash; Google Tasks to RSS bridge
    link(href = "/taskrss.css", rel = "stylesheet", type = "text/css")
  body
    h1 Taskrss
    h2 Google Tasks to RSS bridge
    
    p Go ahead. 
      a(href="/login") Login with google.
