doctype 5
html
  head
    title Taskrss &mdash; Google tasks to RSS bridge
    link(href='http://fonts.googleapis.com/css?family=Bubbler+One', rel='stylesheet', type='text/css')
    link(href = "/taskrss.css", rel = "stylesheet", type = "text/css")
  body
    h1 Taskrss
    h2 Google tasks to RSS bridge
