doctype 5
html
  head
    title 
      = title
      .
      = tagline
    link(href = "/taskrss.css", rel = "stylesheet", type = "text/css")
  body
    h1 Taskrss
    h2 Google Tasks to RSS bridge
    
    != content
